<style lang="postcss">
  @import '@fontsource/radio-canada';
  @import 'carbon-components-svelte/css/g10.css';
  @import '/src/assets/css/carbon-color.css';
  @import '/src/assets/css/global.css';
</style>

<!-- +layout.svelte -->
<script>
  import Ui from '$lib/components/Ui.svelte';
  import { Content, Grid, Row, Column } from 'carbon-components-svelte';
  import { VERSION } from '@sveltejs/kit';
  import { PUBLIC_BASE_URL } from '$env/static/public';
  import { PUBLIC_ENV } from '$env/static/public';
  import { page } from '$app/stores';
  import { persistentHamburgerMenu } from '$lib/js/hamburger.store.js';
  $persistentHamburgerMenu = false;
</script>

<svelte:head>
  <link rel="canonical" href={`${PUBLIC_BASE_URL}${$page.url.pathname}`} />
  <meta name="generator" content={`SvelteKit ${VERSION}`} />
  {#if PUBLIC_ENV === 'PROD'}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELBQP8ENGX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-ELBQP8ENGX');
    </script>
  {/if}
</svelte:head>

<!-- <Ui /> -->
<Ui />
<Content>
  <Grid>
    <Row>
      <Column lg={{ span: 12, offset: 2 }} sm={{ span: 4, offset: 0 }}>
        <slot />
      </Column>
    </Row>
  </Grid>
</Content>
