<footer class="footer">
	<script language="javascript">
		document.onkeydown = function (evt) {
			if (!evt) evt = window.event; // so that it works on both std browsers like Firefox, and others like IE Chrome...
			k1 = evt.keyCode;
			if (k1 == '13') {
				ɲinitubabukan();
			}
		};
	</script>
</footer>

<style lang="postcss">
</style>
