<!-- Header.svelte -->
<header>
	<ul id="haut">
		<li class="title1 title">
			Bamadaba
			<span class="hide_mobile"
				><small>bamanankan daɲɛgafe / dictionnaire du</small>
				<a href="http://cormand.huma-num.fr/">Corpus bambara de référence</a>
			</span>
		</li>
		<li class="altindex">
			<a
				id="clnav"
				class="hide_mobile"
				onmouseover="this.style.color='red'; "
				onmouseout="this.style.color='white'; "
				onclick="this.style.color='yellow'; document.getElementById('navigation').style.display='block'; document.getElementById('recherche').style.display='none'; document.getElementById('clrech').style.color='lightgrey';"
				style="color:lightgrey;font-weight:bold"
				title="par l'index des lettres">A-Z</a
			>
			<a
				id="clrech"
				class="hide_mobile"
				onclick="this.style.color='white'; document.getElementById('recherche').style.display='block'; document.getElementById('navigation').style.display='none'; document.getElementById('clnav').style.color='lightgrey';"
				style="color:white;font-weight:bold"
				title="rechercher un mot">ɲíni</a
			>
			<a href="../index-french/a" title="index Français-Bambara">Français</a>
			(i)
		</li>

		<li class="navig1" id="navigation" style="display: none;">
			<a href="a"> a </a>
			<a href="b"> b </a>
			<a href="c"> c </a>
			<a href="d"> d </a>
			<a href="e"> e </a>
			<a href="ɛ"> ɛ </a>
			<a href="f"> f </a>
			<a href="g"> g </a>
			<a href="h"> h </a>
			<a href="i"> i </a>
			<a href="j"> j </a>
			<a href="k"> k </a>
			<a href="l"> l </a>
			<a href="m"> m </a>
			<a href="n"> n </a>
			<a href="ɲ"> ɲ </a>
			<a href="ŋ"> ŋ </a>
			<a href="o"> o </a>
			<a href="ɔ"> ɔ </a>
			<a href="p"> p </a>
			<a href="r"> r </a>
			<a href="s"> s </a>
			<a href="t"> t </a>
			<a href="u"> u </a>
			<a href="w"> w </a>
			<a href="x"> x </a>
			<a href="y"> y </a>
			<a href="z"> z </a>
		</li>
		<li class="search1" id="recherche">
			<a class="touche" onClick="vinput('ɛ')">ɛ</a>
			<a class="touche" onClick="vinput('ɔ')">ɔ</a>
			<a class="touche" onClick="vinput('ɲ')">ɲ</a>
			<a class="touche" onClick="vinput('ŋ')">ŋ</a>
			<span class="hide_mobile">
				<a class="touche" onClick="vinput('̀')"> ̀</a>
				<a class="touche" onClick="vinput('́')"> ́</a>
				<a class="touche" onClick="vinput('̌')"> ̌</a>
				<a class="touche" onClick="vinput('̂')"> ̂</a>
			</span>

			<form class="search-form">
				<input
					type="search"
					placeholder="Ɲini..."
					id="ɲini"
					style="margin-left:10px;"
					class="hide_mobile"
					onClick="ɲinitubabukan()"
				/>
				<button type="submit" />
			</form>
		</li>
	</ul>
</header>

<style lang="postcss">
	a.touche {
		padding: 0.7rem;
	}
	ul#haut {
		list-style-type: none;
		font-size: var(--size-fluid-2);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap; /* Allow items to wrap to the next line */
	}

	ul#haut > * {
		max-inline-size: 75ch;
		padding: 0.5rem;
	}

	ul#haut > :last-child,
	ul#haut > :nth-child(3) {
		flex-basis: 100%; /* Force the last child to take up the whole line */
		align-self: center;
		display: flex;
	}
	li#recherche,
	ul#haut li {
		display: flex;
		justify-content: center;
	}
</style>
