<style lang="postcss">
</style>

<!-- Header.svelte -->
<script>
import { Tile, Tag } from 'carbon-components-svelte';
</script>

<Tile slot="navigation" class="navig1">
	<a data-letter="a" href="/lexicon/a">
		<Tag size="small" kind="tertiary">a</Tag>
	</a>
	<a data-letter="b" href="/lexicon/b">
		<Tag size="small" kind="tertiary">b</Tag>
	</a>
	<a data-letter="c" href="/lexicon/c">
		<Tag size="small" kind="tertiary">c</Tag>
	</a>
	<a data-letter="d" href="/lexicon/d">
		<Tag size="small" kind="tertiary">d</Tag>
	</a>
	<a data-letter="e" href="/lexicon/e">
		<Tag size="small" kind="tertiary">e</Tag>
	</a>
	<a data-letter="ɛ" href="/lexicon/ɛ">
		<Tag size="small" kind="tertiary">ɛ</Tag>
	</a>
	<a data-letter="f" href="/lexicon/f">
		<Tag size="small" kind="tertiary">f</Tag>
	</a>
	<a data-letter="g" href="/lexicon/g">
		<Tag size="small" kind="tertiary">g</Tag>
	</a>
	<a data-letter="h" href="/lexicon/h">
		<Tag size="small" kind="tertiary">h</Tag>
	</a>
	<a data-letter="i" href="/lexicon/i">
		<Tag size="small" kind="tertiary">i</Tag>
	</a>
	<a data-letter="j" href="/lexicon/j">
		<Tag size="small" kind="tertiary">j</Tag>
	</a>
	<a data-letter="k" href="/lexicon/k">
		<Tag size="small" kind="tertiary">k</Tag>
	</a>
	<a data-letter="l" href="/lexicon/l">
		<Tag size="small" kind="tertiary">l</Tag>
	</a>
	<a data-letter="m" href="/lexicon/m">
		<Tag size="small" kind="tertiary">m</Tag>
	</a>
	<a data-letter="n" href="/lexicon/n">
		<Tag size="small" kind="tertiary">n</Tag>
	</a>
	<a data-letter="ɲ" href="/lexicon/ɲ">
		<Tag size="small" kind="tertiary">ɲ</Tag>
	</a>
	<a data-letter="ŋ" href="/lexicon/ŋ">
		<Tag size="small" kind="tertiary">ŋ</Tag>
	</a>
	<a data-letter="o" href="/lexicon/o">
		<Tag size="small" kind="tertiary">o</Tag>
	</a>
	<a data-letter="ɔ" href="/lexicon/ɔ">
		<Tag size="small" kind="tertiary">ɔ</Tag>
	</a>
	<a data-letter="p" href="/lexicon/p">
		<Tag size="small" kind="tertiary">p</Tag>
	</a>
	<a data-letter="r" href="/lexicon/r">
		<Tag size="small" kind="tertiary">r</Tag>
	</a>
	<a data-letter="s" href="/lexicon/s">
		<Tag size="small" kind="tertiary">s</Tag>
	</a>
	<a data-letter="t" href="/lexicon/t">
		<Tag size="small" kind="tertiary">t</Tag>
	</a>
	<a data-letter="u" href="/lexicon/u">
		<Tag size="small" kind="tertiary">u</Tag>
	</a>
	<a data-letter="w" href="/lexicon/w">
		<Tag size="small" kind="tertiary">w</Tag>
	</a>
	<a data-letter="x" href="/lexicon/x">
		<Tag size="small" kind="tertiary">x</Tag>
	</a>
	<a data-letter="y" href="/lexicon/y">
		<Tag size="small" kind="tertiary">y</Tag>
	</a>
	<a data-letter="z" href="/lexicon/z">
		<Tag size="small" kind="tertiary">z</Tag>
	</a>
</Tile>
