<style lang="postcss">
</style>

<!-- Header.svelte -->
<script>
import { Tile, Tag } from 'carbon-components-svelte';
</script>

<Tile slot="navigation" class="navig1">
	<a data-letter="a" href="/index-french/a">
		<Tag size="small" kind="tertiary">a</Tag>
	</a>
	<a data-letter="b" href="/index-french/b">
		<Tag size="small" kind="tertiary">b</Tag>
	</a>
	<a data-letter="c" href="/index-french/c">
		<Tag size="small" kind="tertiary">c</Tag>
	</a>
	<a data-letter="d" href="/index-french/d">
		<Tag size="small" kind="tertiary">d</Tag>
	</a>
	<a data-letter="e" href="/index-french/e">
		<Tag size="small" kind="tertiary">e</Tag>
	</a>
	<a data-letter="f" href="/index-french/f">
		<Tag size="small" kind="tertiary">f</Tag>
	</a>
	<a data-letter="g" href="/index-french/g">
		<Tag size="small" kind="tertiary">g</Tag>
	</a>
	<a data-letter="h" href="/index-french/h">
		<Tag size="small" kind="tertiary">h</Tag>
	</a>
	<a data-letter="i" href="/index-french/i">
		<Tag size="small" kind="tertiary">i</Tag>
	</a>
	<a data-letter="j" href="/index-french/j">
		<Tag size="small" kind="tertiary">j</Tag>
	</a>
	<a data-letter="k" href="/index-french/k">
		<Tag size="small" kind="tertiary">k</Tag>
	</a>
	<a data-letter="l" href="/index-french/l">
		<Tag size="small" kind="tertiary">l</Tag>
	</a>
	<a data-letter="m" href="/index-french/m">
		<Tag size="small" kind="tertiary">m</Tag>
	</a>
	<a data-letter="n" href="/index-french/n">
		<Tag size="small" kind="tertiary">n</Tag>
	</a>
	<a data-letter="o" href="/index-french/o">
		<Tag size="small" kind="tertiary">o</Tag>
	</a>
	<a data-letter="p" href="/index-french/p">
		<Tag size="small" kind="tertiary">p</Tag>
	</a>
	<a data-letter="q" href="/index-french/q">
		<Tag size="small" kind="tertiary">p</Tag>
	</a>
	<a data-letter="r" href="/index-french/r">
		<Tag size="small" kind="tertiary">r</Tag>
	</a>
	<a data-letter="s" href="/index-french/s">
		<Tag size="small" kind="tertiary">s</Tag>
	</a>
	<a data-letter="t" href="/index-french/t">
		<Tag size="small" kind="tertiary">t</Tag>
	</a>
	<a data-letter="u" href="/index-french/u">
		<Tag size="small" kind="tertiary">u</Tag>
	</a>
	<a data-letter="v" href="/index-french/v">
		<Tag size="small" kind="tertiary">u</Tag>
	</a>
	<a data-letter="w" href="/index-french/w">
		<Tag size="small" kind="tertiary">w</Tag>
	</a>
	<a data-letter="x" href="/index-french/x">
		<Tag size="small" kind="tertiary">x</Tag>
	</a>
	<a data-letter="y" href="/index-french/y">
		<Tag size="small" kind="tertiary">y</Tag>
	</a>
	<a data-letter="z" href="/index-french/z">
		<Tag size="small" kind="tertiary">z</Tag>
	</a>
</Tile>
