<!-- Header.svelte -->
<script>
	import { Search, Grid, Row, Column } from 'carbon-components-svelte';
</script>

<Column>
	<div class="search1" id="recherche">
		<a class="touche" onClick="vinput('ɛ')">ɛ</a>
		<a class="touche" onClick="vinput('ɔ')">ɔ</a>
		<a class="touche" onClick="vinput('ɲ')">ɲ</a>
		<a class="touche" onClick="vinput('ŋ')">ŋ</a>
	</div>
</Column>
<Column>
	<div class="hide_mobile">
		<a class="touche" onClick="vinput('̀')"> ̀</a>
		<a class="touche" onClick="vinput('́')"> ́</a>
		<a class="touche" onClick="vinput('̌')"> ̌</a>
		<a class="touche" onClick="vinput('̂')"> ̂</a>
	</div>
</Column>
