<style lang="postcss">
</style>

<!-- Ui.svelte -->
<script>
  import {
    Header,
    SkipToContent,
    HeaderUtilities,
    // HeaderAction,
    HeaderGlobalAction,
    HeaderSearch,
    Tag
  } from 'carbon-components-svelte';
  import Information from 'carbon-icons-svelte/lib/Information.svelte';
  import UpToTop from 'carbon-icons-svelte/lib/UpToTop.svelte';
  import Asterisk from 'carbon-icons-svelte/lib/Asterisk.svelte';
  import CharacterPatterns from 'carbon-icons-svelte/lib/CharacterPatterns.svelte';
  import { goto } from '$app/navigation';

  let isSideNavOpen = false;

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    var expires = 'expires=' + d.toUTCString();
    document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
  }

  function getCookie(cname) {
    var name = cname + '=';
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return '';
  }

  function isDisamb() {
    var mycookie = getCookie('disamb');
    //alert("cookie="+mycookie);
    if (mycookie != '') {
      return true;
    } else {
      return false;
    }
  }

  function setDisamb() {
    let s;
    let visibval;
    s = document.styleSheets[0];
    var classes = s.cssRules;
    if (isDisamb()) {
      visibval = 'visible';
    } else {
      visibval = 'hidden';
    }
    //alert("visibval="+visibval);
    for (var x = 0; x < classes.length; x++) {
      if ((classes[x].selectorText == '.Gl') | (classes[x].selectorText == '.clnk')) {
        //alert(classes[x].selectorText);
        classes[x].style['visibility'] = visibval;
        //alert("sets visibility to "+classes[x].style["visibility"]);
      }
    }
  }

  function toggleDisamb() {
    if (isDisamb()) {
      setCookie('disamb', '', 0);
    } else {
      setCookie('disamb', 'disambiguation mode', 365);
    }
    setDisamb();
  }

  function vinput(glyph) {
    value = value + glyph;
    console.log('value', value);
    active = true;
  }

  function query() {
    let searchEl;
    let searchWord;
    let char1;
    let char2;
    searchEl = document.getElementById('search-input');
    searchWord = searchEl.value;
    // Check if the first character is '-'; if true, set char1 to the second character, otherwise use the first character
    char1 = searchWord.charAt(0) === '-' ? searchWord.charAt(1) : searchWord.charAt(0);
    char1 = char1.toLowerCase();
    char2 = searchWord.charAt(1);
    if (char1 + char2 == 'ny') char1 = 'ɲ';
    parent.location = '/lexicon/' + char1 + '#' + searchWord;
  }

  let ref = null;
  let active = false;
  let value = '';

  $: console.log('ref', ref);
  $: console.log('active', active);
  $: console.log('value', value);
</script>

<Header
  persistentHamburgerMenu={true}
  company="Bamadaba"
  platformName="bamanankan daɲɛgafe / dictionnaire du"
  href="/lexicon/"
  bind:isSideNavOpen={isSideNavOpen}
  iconMenu={CharacterPatterns}
>
  <a href="http://cormand.huma-num.fr/">Corpus bambara de référence</a>
  <svelte:fragment slot="skip-to-content">
    <SkipToContent />
  </svelte:fragment>

  <Tag interactive size="sm" kind="tertiary" on:click={vinput('ɛ')}>ɛ</Tag>
  <Tag interactive size="sm" kind="tertiary" on:click={vinput('ɔ')}>ɔ</Tag>
  <Tag interactive size="sm" kind="tertiary" on:click={vinput('ɲ')}>ɲ</Tag>
  <Tag interactive size="sm" kind="tertiary" on:click={vinput('ŋ')}>ŋ</Tag>

  <HeaderSearch
    bind:ref={ref}
    bind:active={active}
    bind:value={value}
    placeholder="Ɲini..."
    on:select={query}
  />

  <HeaderUtilities>
    <HeaderGlobalAction
      iconDescription="Retour en haut"
      kind="primary"
      icon={UpToTop}
      on:click={() => goto('#top')}
    />
    <HeaderGlobalAction
      iconDescription="plus d'informations sur le dictionnaire Bambdaba"
      kind="primary"
      icon={Information}
      on:click={() => (window.location = 'https://www.mali-pense.net/bm/lexicon/index.htm')}
    />
    <HeaderGlobalAction
      iconDescription="toggle between public and desamb mode"
      kind="primary"
      icon={Asterisk}
      on:click={toggleDisamb}
    />
  </HeaderUtilities>
</Header>
