<!-- Vinput.svelte -->
<script>
import { Tag } from 'carbon-components-svelte';
</script>

<Tag size="sm" kind="tertiary" onClick="vinput('ɛ')">ɛ</Tag>
<Tag size="sm" kind="tertiary" onClick="vinput('ɔ')">ɔ</Tag>
<Tag size="sm" kind="tertiary" onClick="vinput('ɲ')">ɲ</Tag>
<Tag size="sm" kind="tertiary" onClick="vinput('ŋ')">ŋ</Tag>

<Tag size="sm" kind="tertiary" onClick="vinput('̀')">̀</Tag>
<Tag size="sm" kind="tertiary" onClick="vinput('́')">́</Tag>
<Tag size="sm" kind="tertiary" onClick="vinput('̌')">̌</Tag>
<Tag size="sm" kind="tertiary" onClick="vinput('̂')">̂</Tag>
