<style lang="postcss">
  @import '/src/assets/css/index-french.css';
</style>

<script>
  import { SideNav, SideNavItems, SideNavLink, SideNavDivider } from 'carbon-components-svelte';
  import LexFr from '$lib/components/LexFr.svelte';
  import { isSideNavOpen } from '$lib/js/sidenav.store.js';
  import { onMount } from 'svelte';
  import { page } from '$app/stores';
  function SideNavLinkClick() {
    $isSideNavOpen = false;
  }
  let schema = {};

  onMount(() => {
    if ($page.url) {
      const pathname = $page.url.pathname;
      const segments = pathname.split('/').filter(Boolean); // Split path and filter out empty segments
      const isSubpage = segments.length > 1; // Check if this is a subpage
      const baseURL = $page.url.origin;

      if (isSubpage) {
        const letter = segments.pop().toUpperCase(); // Get the last segment and capitalize it
        console.log('Subpage for letter:', letter);

        // Breadcrumb schema
        const breadcrumbs = {
          '@context': 'https://schema.org',
          '@type': 'BreadcrumbList',
          itemListElement: [
            {
              '@type': 'ListItem',
              position: 1,
              name: "Dictionnaire Bambara page d'accueil",
              item: `${baseURL}/`
            },
            {
              '@type': 'ListItem',
              position: 2,
              name: 'Dictionnaire Français-Bambara',
              item: `${baseURL}/index-french`
            },
            {
              '@type': 'ListItem',
              position: 3,
              name: `Termes en français qui commencent par la lettre ${letter} et la traduction bambara`,
              item: `${baseURL}${pathname}`
            }
          ]
        };

        // DefinedTermSet schema
        const definedTermSet = {
          '@context': 'https://schema.org',
          '@type': 'DefinedTermSet',
          name: `Dictionnaire français - bambara  - Termes qui commencent par la lettre ${letter}`,
          description: `La traduction bambara d'une liste de termes français qui commence avec la lettre ${letter}`,
          url: $page.url.href,
          inDefinedTermSet: `${baseURL}/index-french`,
          mainEntityOfPage: $page.url.href
        };

        schema = {
          '@context': 'https://schema.org',
          '@graph': [breadcrumbs, definedTermSet]
        };

        // Inject schema into <head>
        const jsonLdScript = document.createElement('script');
        jsonLdScript.type = 'application/ld+json';
        jsonLdScript.textContent = JSON.stringify(schema);
        document.head.appendChild(jsonLdScript);
        console.log('Schema successfully injected:', schema);
      } else {
        console.log('Not a subpage; no schema created.');
      }
    }
  });
</script>

<SideNav bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavLink text="Navigation alphabétique" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/a" text="a" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/b" text="b" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/c" text="c" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/d" text="d" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/e" text="e" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/f" text="f" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/g" text="g" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/h" text="h" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/i" text="i" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/j" text="j" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/k" text="k" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/l" text="l" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/m" text="m" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/n" text="n" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/o" text="o" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/p" text="p" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/q" text="q" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/r" text="r" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/s" text="s" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/t" text="t" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/u" text="u" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/v" text="v" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/w" text="w" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/x" text="x" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/y" text="y" />
    <SideNavLink on:click={SideNavLinkClick} href="/index-french/z" text="z" />
    <SideNavLink text=" " />
    <SideNavDivider />
    <SideNavDivider />
  </SideNavItems>
</SideNav>

<LexFr />
<slot />
