.BackToTopBtn-module--button--12d77 {
  background: var(--cds-interactive-02, #393939);
  border-color: #0000;
  border-radius: 50%;
  /* adjust bottom/right values */
  bottom: 1.5rem;
  right: 1rem;
  cursor: pointer;
  height: 3rem;
  padding-top: 0.325rem;
  position: fixed;
  transition: all 0.11s;
  width: 3rem;
  z-index: 9000;
}
