/* fonts added: Corpus Bambara de Référence */
body {
  font-size: 120%;
  font-family: 'Radio Canada', 'Noto Sans', system-ui, sans-serif;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('/fonts/NotoSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('/fonts/NotoSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('/fonts/NotoSans-Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* noto-serif-regular - latin-ext_latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src:
    local('/fonts/noto-serif-v6-latin-ext_latin-regular.woff') format('woff'),
    /* Modern Browsers */;
}

/* noto-serif-regular - latin-ext_latin
@font-face {
  font-family: 'Noto Sans Nko';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/NotoSansNKo-Regular.ttf') format('ttf');
}
 */

@media only screen and (width <=790px) {
  a.bx--link {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media only screen and (width <=790px) {
  a.bx--header__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
    padding-right: 0;
  }
  a#left.bx--header__menu-item {
    padding-left: 0;
    display: none;
  }
}

a.bx--header__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0;
}

a#left.bx--header__menu-item {
  padding-left: 0;
}

.bx--header__nav {
  padding-left: 0.5rem;
}

a,
.lxe {
  scroll-margin-top: 3rem;
}

/* for link in title home page */
h1 a {
  text-decoration: none;
}

/* for letter sub page titles */
h1 {
  text-align: center;
  padding: 2rem;
}

/* always display the nav menu (bm/fr) */
.bx--header__nav {
  display: block !important;
}

/* images are causing horizontal scrolling on mobile */
img {
  height: auto;
  max-width: 100%;
}

/* empty structured list for search looks weird with huge margin */
.bx--structured-list {
  margin-bottom: 0 !important;
}

div#bas .bx--grid:first-child {
  align-items: center;
}

/* the audio player in lexicon */
div .maud audio {
  padding: 0.2rem;
}

/* this global will become display flex in lexique */
/* .bx--header__menu-toggle { */
/*   display: none; */
/* } */
