/* -- Stylesheet for web pages created by Lexique Pro -- */


body {font-size:120%;}
input {font-size:100%;}
table {width:60%;margin:auto;}

#haut {height:12%;}
#bas {top:13%;}
#basfr {top:13%;}
@media (max-height:450px) {
#haut {height:20%;}
#bas {top:21%;}
#basfr {top:21%;}
}

@media (max-width: 640px) {
    * {
        box-sizing: border-box;
    }
    
    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    body {
        font-size:140%;
        width: auto;
        margin: 0;
        padding: 0;
    }
    input {font-size:90%;}
    
    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

    img,
    table,
    td,
    pre,
    input {
        max-width: 100%;
    }
    
    table {width:99%;margin-left:1%;}
    /* conserver le ratio des images */

    img {
        height: auto;
    }
    
    /* gestion des mots longs */

    
    table,
    td,
    th,
    pre {
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word; /* passage à la ligne forcé */
    }
    
    
    pre {
        white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }
    
    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
    
    /* masquer les éléments superflus */

    .hide_mobile {
        display: none !important;
    }
    
    /* Un message personnalisé */

    /*body:before {
        content: "Version mobile du site";
        display: block;position:absolute;top:0;width:100%;
        text-align: center;
        font-style: italic;
        color: #777;
    }*/
}
/* styles added for title and navigation: Corpus Bambara de Référence */
.title {text-align:center;color:#000;font-family:"Noto Sans","Arial"; font-size:1.5em;position:relative;top:5px;}
.title1 {height:50%;text-align:left;color:#000;font-family:"Noto Sans","Arial"; font-size:95%;font-weight:bold;position:relative;top:0px; background-color: black;color:white;}
.title1  a {text-decoration: underline; color:white;}
.title1  a:visited{text-decoration: none; color:white;}
.title1  a:hover{text-decoration: none; color:red;}

.stitre {font-size:0.5em;}
.altindex {height:50%;font-family:"Noto Sans","Arial"; position:absolute;top:0px;right:10px;color:white;font-size:95%;}
.altindex  a {text-decoration: none; color:white;}
.altindex  a:visited{text-decoration: none; color:white;}
.altindex  a:hover{text-decoration: none; color:red;}
.navig1 {height:50%;width:100%; font-family:"Noto Serif","Times New Roman";font-size:1.2em;text-align:center;}
.title a:hover {background-color:beige;border:1px solid gray;}
.title a:active {background-color:#000; color:#FFF;border:1px solid red;}
#haut {position:fixed;top:0px;left:0px;z-index:100;width:100%;border-bottom:6px solid lightblue;}
#bas {position:fixed;left:0px;z-index:100;height:100%;width:100%;overflow:scroll;overflow:auto}
#basfr {position:fixed;left:0px;z-index:100;width:100%;height:100%;overflow:scroll;overflow:auto} 
#basfr table {table-layout: fixed; }
#basfr table col {width:50%;}
#basfr table td {border-bottom:1px solid lightgrey;}
.search1{height:50%;text-align:center;margin-top:5px;width:100%;font-size:95%;}
input {width:50%;}


/* 
pour la version désambiguisation, 
mettre à visible, 
pour la version public à hidden 
*/
/* DISAMB:  NOTE : toggle between Public-mode and Disamb-mode is now done in javascript via top-left menu * option
.Gl {visibility:visible;}
.clnk {visibility:visible;margin-left:1em;margin-right:0.5em;font-size:0.6em;background-color: lightgrey;padding-right:3px;padding-left:3px;color:gray;}
 */

/* PUBLIC  */

a:after{
    padding: 2px;
    display:none;
    position: relative;
    top: 10px;
    right: 10px;
    width: 200px;
    max-width: 300px;
    text-align: right;
    font-size:10pt;
    font-weight: normal;
    color: #fef4c5;
    background-color: #000000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    overflow:auto;
    text-decoration:none;
}
a:hover:after{
    display: inline;
}

.touche {border:1px solid grey;margin:1px;padding:1px}

/* ---------- PARAGRAPHS ----------- */
  /* lpLexEntryPara */

  /* lpLexEntryPara_KeepWithNext */
  /* lpLexEntryPara2 */

  /* lpLexEntryPara2_KeepWithNext */
  /* lpLexSubEntryPara */
  /* lpLexSubEntryPara2 */
  /* lpTitlePara */
p.TtlP {font-size:1.25em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;text-align:center;margin: 1.5em 0 1.5em 0;text-indent:0;page-break-after:avoid;}
  /* lpTitle2Para */
  /* lpPicturePara */

/* ---------- SPANS NEW ----------- */
  /* lpTitle */
  /* lpTitle2 */
  /* lpLexEntryName */
  /* lpHeaderEntry */
span.He {font-size:0.92em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpMiniHeading  - changed from block to inline 10/12/2020*/

  /* 10/12/2020 : replace html text by css fixed content */


  /* lpLanguageLabel */
  /* lpPartOfSpeech */
  /* lpExampleRef */
  /* lpPhonetic */
  /* lpScientific */
  /* lpBorrowedWord */
span.Bor {font-size:0.83em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:navy;}
  /* lpEtymology */
  /* lpCategory */
  /* lpExample */
  /* lpEncycInfo */
  /* lpGloss */
  /* lpMorph */
  /* lpMorphSub */
  /* lpMainCrossRef */

  /* added 09/12/2020 for \ve  */
/* span.ve {text-decoration:line-through;font-size:0.9em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#511515;}
span.ve a:after{ content: "orthographe à éviter"; } */
/* try this instead : */
a.ve {text-decoration:line-through;font-size:0.9em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#511515;}
a.ve::after { content: "orthographe à éviter"; text-decoration:none;}
  /* lpMainCrossRefSub */
  /* lpCrossRef */
  /* lpCrossRefSub */
  /* lpSpAfterEntryName */
  /* lpTitleLetter */
  /* lpTitleMenuItem */
  /* lpSenseNumber */
  /* lpPunctuation */
  /* lpHomonymIndex */
  /* lpLexicalFunction */

  /* lpLexicalFunctionSub */
  /* lpParadigm */
span.Para {font-size:0.75em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:navy;}
  /* lpNotes_anthropology */
  /* lpNotes_discourse */
  /* lpNotes_grammar */
  /* lpNotes_phonology */
  /* lpNotes_questions */
  /* lpNotes_sociolinguistics */
  /* lpNotes_general */
  /* lpGlossBambara */
  /* lpEncycInfoBambara */
  /* lpGlossFrench */

  /* lpEncycInfoFrench */
/*span.EncFr {display:inline;margin: 10px 0 0 5%;font-size:0.83em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#2F4F4F;}*/
/* abandonné, cf message VV : span.EncFr::before {content:"Sémantisme : ";} */
  /* lpLiteralMeaningFrench */
  /* lpIndexFrench */
span.IxFr {font-size:0.83em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#696969;}
a.IxBm {font-size:0.83em;font-weight:bold;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
a.IvBm {font-style:italic;font-size:0.75em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
a.IvBm::after { content: "variante (non recommandée)"; text-decoration:none;}
a.IeBm {text-decoration: line-through !important;font-style:italic;font-size:0.7em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:grey;}
a.IeBm::after { content: "orthographe à éviter"; text-decoration:none;}



   /* lpUserStylefv */
  /* lpUserStylefe */
  /* lpUserStylefn */
  /* lpUserStylefr */
  /* lpHighlight */


/* ---------- LINKS ----------- */
  a:link   {text-decoration: none;}
  a:visited{text-decoration: none;}
  a:active {text-decoration: none;}
  a:hover  {text-decoration: underline;}

/* ---------- HIGHLIGHTING ----------- */

/* ---------- TITLE PAGE ----------- */

