table {
  width: 90%;
  margin: auto;
}

.altindex {
  height: 50%;
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  font-size: 95%;
}

.altindex a {
  text-decoration: none;
  color: white;
}

.altindex a:visited {
  text-decoration: none;
  color: white;
}

.altindex a:hover {
  text-decoration: none;
  color: red;
}

.navig1 {
  height: 50%;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
}

.title a:hover {
  background-color: beige;
  border: 1px solid gray;
}

.title a:active {
  background-color: #000;
  color: #fff;
  border: 1px solid red;
}

#basfr table {
  table-layout: fixed;
}

#basfr table td {
  border-bottom: 1px solid lightgrey;
}

a::after {
  padding: 2px;
  display: none;
  position: relative;
  top: 10px;
  right: 10px;
  width: 200px;
  max-width: 300px;
  text-align: right;
  font-size: 10pt;
  font-weight: normal;
  color: #fef4c5;
  background-color: #000;
  border-radius: 4px;
  overflow: auto;
  text-decoration: none;
}

a:hover::after {
  display: inline;
}

/* lpTitlePara */
p.TtlP {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 1.5em 0;
  text-indent: 0;
  page-break-after: avoid;
}

span.Bor {
  font-size: 0.83em;
  font-weight: normal;
  color: navy;
}

span.IxFr {
  font-size: 0.83em;
  font-weight: normal;
  color: #696969;
}

a.IxBm {
  font-size: 0.83em;
  font-weight: bold;
  color: black;
}

a.IvBm {
  font-style: italic;
  font-size: 0.75em;
  font-weight: normal;
  color: black;
}

a.IvBm::after {
  content: 'variante (non recommandée)';
  text-decoration: none;
}

a.IeBm {
  text-decoration: line-through !important;
  font-style: italic;
  font-size: 0.7em;
  font-weight: normal;
  color: grey;
}

a.IeBm::after {
  content: 'orthographe à éviter';
  text-decoration: none;
}
