table {
  width: 90%;
  margin: auto;
}

.title a:hover {
  background-color: var(--cool-gray-200-hover);
  border: 1px solid var(--cool-gray-600-hover);
}

.title a:active {
  background-color: var(--cool-gray-200);
  color: var(--cool-gray-900);
  border: 1px solid var(--red-500);
}

.Gl {
  visibility: hidden;
}

a:hover::after {
  display: inline;
}

/* liens vers la grammaire */

.touche {
  border: 1px solid var(--cool-gray-800);
  margin: 1px;
  padding: 1px;
}

/* lpLexEntryName */
span.Lxe {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

span.Gl {
  font-size: 0.92em;
  font-weight: normal;
  color: black;
}

/* lpMorph */
span.Mrph {
  font-size: 0.75em;
  font-weight: bold;
  color: green;
}

/* lpMorphSub */
span.MorphS {
  font-size: 0.67em;
  font-weight: normal;
  color: green;
}

/* lpMainCrossRef */
span.MXRef {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--purple-600);
}

a.MXRef {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--purple-600);
}
a.ve {
  text-decoration: line-through;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--red-600);
}

a.ve::after {
  content: 'orthographe à éviter';
  text-decoration: none;
}

.maud {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute space */
  gap: 1rem; /* Add spacing between elements */
}

.maud audio {
  flex-shrink: 0; /* Prevents audio from shrinking */
}

.maud-text {
  display: inline;
}

.gzd,
.gam,
.gkc,
.gsc,
.gsv {
  display: inline-block;
}

.clnknt {
  position: relative;
  display: inline-block;
}

.clnknt:hover::after {
  content: attr(data-title);
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid var(--cool-gray-400-hover);
  padding: 4px 12px;
  border-radius: 4px;
  white-space: nowrap;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.maud-text {
  font-size: 0.75em;
}
