table {
  width: 90%;
  margin: auto;
}

.title a:hover {
  background-color: var(--cool-gray-200-hover);
  border: 1px solid var(--cool-gray-600-hover);
}

.title a:active {
  background-color: var(--cool-gray-200);
  color: var(--cool-gray-900);
  border: 1px solid var(--red-500);
}

.Gl {
  visibility: hidden;
  font-size: 0.92em;
  color: black;
}

a:hover::after {
  display: inline;
}

/* lpLexEntryName */
span.Lxe {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

/* lpMorph */
span.Mrph {
  font-size: 0.75em;
  font-weight: bold;
  color: green;
}

/* lpMorphSub */
span.MorphS {
  font-size: 0.67em;
  color: green;
}

/* lpMainCrossRef */
span.MXRef {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--purple-600);
}

a.MXRef {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--purple-600);
}

a.ve {
  text-decoration: line-through;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--red-800);
}

a.ve::after {
  content: 'orthographe à éviter';
  text-decoration: none;
}

.maud {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute space */
  gap: 1rem; /* Add spacing between elements */
}

.maud audio {
  flex-shrink: 0;
}

.maud-text {
  font-size: 0.75em;
  display: inline;
}

.gzd,
.gam,
.gkc,
.gsc,
.gsv {
  display: inline-block;
}

.clnknt {
  position: relative;
  display: inline-block;
}

.title {
  text-align: center;
  color: #000;
  font-size: 1.5em;
  position: relative;
  top: 5px;
}

.title1 {
  height: 50%;
  text-align: left;
  font-size: 95%;
  font-weight: bold;
  position: relative;
  top: 0;
  background-color: black;
  color: white;
}

.title1 a {
  text-decoration: underline;
  color: white;
}

.title1 a:visited {
  text-decoration: none;
  color: white;
}

.title1 a:hover {
  text-decoration: none;
  color: var(--red-800);
}

.stitre {
  font-size: 0.5em;
}

.corpuspub {
  font-size: 0.3em;
}

.altindex {
  height: 50%;
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  font-size: 95%;
}

.altindex a {
  text-decoration: none;
  color: white;
}

.altindex a:visited {
  text-decoration: none;
  color: white;
}

.altindex a:hover {
  text-decoration: none;
  color: var(--red-800);
}

.navig {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30%;
  height: 35%;
  overflow: scroll;
  overflow: auto;
  text-align: left;
  color: #000;
  font-size: 95%;
}

.navig a {
  border: 1px solid lightgrey;
}

.navig1 {
  height: 50%;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
}

.navig a:hover {
  background-color: beige;
  border: 1px solid gray;
}

.navig a:active {
  background-color: #000;
  color: #fff;
  border: 1px solid var(--red-800);
}

#basfr table {
  table-layout: fixed;
}

#basfr table col {
  width: 50%;
}

#basfr table td {
  border-bottom: 1px solid lightgrey;
}

.mmc {
  border: 1px solid beige;
  width: 40%;
  float: right;
}

h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/*
pour la version désambiguisation,
mettre à visible,
pour la version public à hidden
*/
/* DISAMB:  NOTE : toggle between Public-mode and Disamb-mode is now done in javascript via top-left menu * option
.Gl {visibility:visible;}
.clnk {visibility:visible;margin-left:1em;margin-right:0.5em;font-size:0.6em;background-color: lightgrey;padding-right:3px;padding-left:3px;color:gray;}
 */

/* PUBLIC  */
.Gl,
.clnk,
.clnknt {
  visibility: hidden;
}

.touche {
  border: 1px solid grey;
  margin: 1px;
  padding: 1px;
}

.maud,
.mvid {
  text-align: center;
  margin: auto auto 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.maud .video {
  width: 80%;
  aspect-ratio: 16 / 9;
}

.mpic {
  text-align: center;
  margin-bottom: 4px;
}

/* ---------- PARAGRAPHS ----------- */
/* lpLexEntryPara */
p.lxP {
  text-align: left;
  margin: 20px 0 0 6%;
  text-indent: -5%;
}

p.lxPva {
  text-align: left;
  margin: 20px 0 0 6%;
  text-indent: -5%;
  font-size: 70%;
}

/* lpLexEntryPara_KeepWithNext */
p.lxP_KwNxt {
  text-align: left;
  margin: 0.25em 0 0 3.5em;
  text-indent: -3.5em;
  page-break-after: avoid;
}

/* lpLexEntryPara2 */
p.lxP2 {
  text-align: left;
  margin: 0 0 0 5%;
  text-indent: 0;
}

p.lxP2va {
  text-align: left;
  margin: 0 0 0 5%;
  text-indent: 0;
  font-size: 70%;
}

/* lpLexEntryPara2_KeepWithNext */
p.lxP2_KwNxt {
  text-align: left;
  margin: 0.25em 0 0 3.5em;
  text-indent: 0;
  page-break-after: avoid;
}

/* lpLexSubEntryPara */
p.lxSP {
  text-align: left;
  margin: 0.25em 0 0 4.7em;
  text-indent: -3.5em;
}

/* lpLexSubEntryPara2 */
p.lxSP2 {
  text-align: left;
  margin: 0.25em 0 0 4.7em;
  text-indent: 0;
}

/* lpTitlePara */
p.TtlP {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 1.5em 0;
  text-indent: 0;
  page-break-after: avoid;
}

/* lpTitle2Para */
p.TtlP2 {
  font-size: 0.92em;
  color: black;
  text-align: left;
  margin: 1em 0 0.5em;
  text-indent: 0;
  page-break-after: avoid;
}

/* lpPicturePara */
p.Pic {
  text-align: center;
  margin: 0.5em 0;
  text-indent: -0;
  page-break-after: avoid;
}

/* ---------- SPANS NEW ----------- */
/* lpTitle */
span.Ttl {
  font-size: 1.17em;
  font-weight: bold;
  color: black;
}

/* lpTitle2 */
span.Ttl2 {
  font-size: 0.92em;
  color: black;
}

/* lpLexEntryName */
span.Lxeva {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

/* lpHeaderEntry */
span.He {
  font-size: 0.92em;
  color: black;
}

/* lpMiniHeading  - changed from block to inline 10/12/2020 */
span.Mnh {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

/* 10/12/2020 : replace html text by css fixed content */
span.Mnhrv {
  border-bottom: 1px solid var(--red-800);
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.83em;
  font-style: italic;
  color: black;
}

span.Mnhrv::before {
  content: 'Voir entrée principale : ';
}

span.Mnhva {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhva::before {
  content: 'Variante : ';
}

span.Mnhvam {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhvam::before {
  content: 'Variantes : ';
}

span.Mnhsyn {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhsyn::before {
  content: 'Synonyme : ';
}

span.Mnhsynm {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhsynm::before {
  content: 'Synonymes : ';
}

span.Mnhlitt {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhlitt::before {
  content: 'Litt : ';
}

span.Mnhbw {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhbw::before {
  content: 'Source : ';
}

span.Mnhant {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhant::before {
  content: 'Antonyme(s) : ';
}

span.Mnhcat {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: #2f4f4f;
}

span.Mnhcat::before {
  content: 'Catégorie : ';
}

/* lpLanguageLabel */
span.Lng {
  font-size: 0.75em;
  color: #191970;
}

/* lpPartOfSpeech */
span.PS {
  font-size: 0.92em;
  font-weight: bold;
  color: #191970;
}

/* lpExampleRef */
span.ExRef {
  font-size: 0.58em;
  color: black;
}

/* lpPhonetic */
span.Pho {
  font-size: 0.75em;
  color: navy;
}

/* lpScientific */
span.Sci {
  font-size: 0.83em;
  font-style: italic;
  text-decoration: underline;
  color: black;
}

/* lpBorrowedWord */
span.Bor {
  font-size: 0.83em;
  color: navy;
}

/* lpEtymology */
span.Ety {
  font-size: 0.83em;
  color: navy;
}

/* lpCategory */
span.Cat {
  font-size: 0.75em;
  font-weight: bold;
  color: #2f4f4f;
}

/* lpExample */
span.Exe {
  display: block;
  width: 80%;
  margin-left: 20px;
  font-size: 0.92em;
  font-weight: bold;
  color: var(--green-600);
}

/* lpEncycInfo */
span.Enc {
  display: block;
  width: 80%;
  font-size: 0.83em;
  color: black;
}

/* lpGloss */
span.Gl {
  font-size: 0.92em;
  color: black;
}

/* lpMainCrossRefSub */
span.MXRefS {
  font-size: 0.67em;
  color: #290a0a;
}

/* lpCrossRef */
span.XRef {
  font-size: 0.75em;
  font-weight: bold;
  color: teal;
}

/* lpCrossRefSub */
span.XRefS {
  font-size: 0.67em;
  color: teal;
}

/* lpSpAfterEntryName */
span.SpAftEnt {
  font-size: 0.75em;
  color: black;
}

/* lpTitleLetter */
span.TtleL {
  font-size: 0.75em;
  font-weight: bold;
  color: black;
}

/* lpTitleMenuItem */
span.TtleMI {
  font-size: 0.67em;
  font-weight: bold;
  color: black;
}

/* lpSenseNumber */
span.SnsN {
  font-size: 0.92em;
  font-weight: bold;
  color: black;
}

/* lpPunctuation */
span.Pnct {
  font-size: 0.83em;
  color: black;
}

/* lpHomonymIndex */
span.HomoI {
  font-size: 0.58em;
  color: black;
}

/* lpLexicalFunction */
span.LexF {
  font-size: 0.95em;
  font-weight: bold;
  color: var(--red-600);
}

a.LexF {
  font-size: 0.95em;
  font-weight: bold;
  color: var(--red-600);
}

/* lpLexicalFunctionSub */
span.LexFS {
  font-size: 0.67em;
  color: var(--red-600);
}

/* lpParadigm */
span.Para {
  font-size: 0.75em;
  font-weight: bold;
  color: navy;
}

/* lpNotes_anthropology */
span.Not_a {
  font-size: 0.75em;
  color: black;
}

/* lpNotes_discourse */
span.Not_d {
  display: block;
  width: 80%;
  font-size: 0.75em;
  color: black;
}

/* lpNotes_grammar */
span.Not_g {
  display: block;
  width: 80%;
  font-size: 0.75em;
  color: black;
}

/* lpNotes_phonology */
span.Not_p {
  font-size: 0.75em;
  color: black;
}

/* lpNotes_questions */
span.Not_q {
  font-size: 0.75em;
  color: black;
}

/* lpNotes_sociolinguistics */
span.Not_s {
  font-size: 0.75em;
  color: black;
}

/* lpNotes_general */
span.Not_gen {
  font-size: 0.75em;
  color: black;
}

/* lpGlossBambara */
span.GlBm {
  font-size: 0.83em;
  color: black;
}

/* lpEncycInfoBambara */
span.EncBm {
  font-size: 0.83em;
  color: black;
}

/* lpGlossFrench */
span.GlFr {
  margin-left: 30px;
  font-size: 0.92em;
  color: var(--warm-gray-600);
}

span.GlFr1 {
  font-size: 1em;
  color: #000;
}

span.GlEn {
  display: block;
  margin-left: 30px;
  font-size: 0.92em;
  color: green;
}

span.GlNko {
  margin-left: 30px;
  font-size: 0.92em;
  font-family: 'Noto Sans Nko', 'Noto Sans', 'Arial Unicode MS';
  color: darkslateblue;
}

/* lpEncycInfoFrench */
/* span.EncFr {display:inline;margin: 10px 0 0 5%;font-size:0.83em;font-style:italic;font-weight:normal;font-family:"Noto Serif",Serif; color:#2F4F4F;} */
span.EncFr {
  display: inline;
  font-size: 0.83em;
  font-style: italic;
  color: var(--teal-900);
}

/* abandonné, cf message VV : span.EncFr::before {content:"Sémantisme : ";} */
/* lpLiteralMeaningFrench */
span.LitMFr {
  font-size: 0.83em;
  font-style: italic;
  color: var(--teal-900);
}

/* lpUserStylefv */
span.lpUserStylefv {
  font-size: 0.75em;
  font-weight: bold;
  color: black;
}

/* lpUserStylefe */
span.lpUserStylefe {
  font-size: 0.75em;
  color: black;
}

/* lpUserStylefn */
span.lpUserStylefn {
  font-size: 0.75em;
  color: black;
}

/* lpUserStylefr */
span.lpUserStylefr {
  font-size: 0.75em;
  color: black;
}

/* lpHighlight */
span.lpHighlight {
  background-color: #ff0;
}

/* ---------- HIGHLIGHTING ----------- */
.fragment {
  background-color: #ccf;
  color: black;
}

/* anchors converted to button */
button {
  border: none;
}

/* none of these links work */
b .clnk,
b .clnknt {
  display: none;
}

/* .bx--header__menu-toggle { */
/*   display: flex; */
/* } */
