table {
  width: 90%;
  margin: auto;
}

.title a:hover {
  background-color: var(--cool-gray-200-hover);
  border: 1px solid var(--cool-gray-600-hover);
}

.title a:active {
  background-color: var(--cool-gray-200);
  color: var(--cool-gray-900);
  border: 1px solid var(--red-500);
}

.Gl {
  visibility: hidden;
  font-size: 0.92em;
  color: black;
}

a:hover::after {
  display: inline;
}

/* lpLexEntryName */
span.Lxe {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

/* lpMorph */

/* lpMorphSub */

/* lpMainCrossRef */
span.MXRef {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--purple-600);
}

a.MXRef {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--purple-600);
}

a.ve {
  text-decoration: line-through;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--red-800);
}

a.ve::after {
  content: 'orthographe à éviter';
  text-decoration: none;
}

.maud {
  text-align: center;
  margin: auto auto 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; /* Add spacing between elements */
}

.maud audio {
  flex-shrink: 0;
}

.gzd,
.gam,
.gkc {
  display: inline-block;
}

.clnknt {
  position: relative;
  display: inline-block;
}

.title {
  text-align: center;
  color: #000;
  font-size: 1.5em;
  position: relative;
  top: 5px;
}

.title1 {
  height: 50%;
  text-align: left;
  font-size: 95%;
  font-weight: bold;
  position: relative;
  top: 0;
  background-color: black;
  color: white;
}

.title1 a {
  text-decoration: underline;
  color: white;
}

.title1 a:visited {
  text-decoration: none;
  color: white;
}

.title1 a:hover {
  text-decoration: none;
  color: var(--red-800);
}

.stitre {
  font-size: 0.5em;
}

.altindex {
  height: 50%;
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  font-size: 95%;
}

.altindex a {
  text-decoration: none;
  color: white;
}

.altindex a:visited {
  text-decoration: none;
  color: white;
}

.altindex a:hover {
  text-decoration: none;
  color: var(--red-800);
}

.navig1 {
  height: 50%;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
}

.mmc {
  border: 1px solid beige;
  width: 40%;
  float: right;
}

/*
pour la version désambiguisation,
mettre à visible,
pour la version public à hidden
*/
/* DISAMB:  NOTE : toggle between Public-mode and Disamb-mode is now done in javascript via top-left menu * option
.Gl {visibility:visible;}
.clnk {visibility:visible;margin-left:1em;margin-right:0.5em;font-size:0.6em;background-color: lightgrey;padding-right:3px;padding-left:3px;color:gray;}
 */

/* PUBLIC  */
.Gl,
.clnk,
.clnknt {
  visibility: hidden;
}

.touche {
  border: 1px solid grey;
  margin: 1px;
  padding: 1px;
}

.mpic {
  text-align: center;
  margin-bottom: 4px;
}

/* ---------- PARAGRAPHS ----------- */
/* lpLexEntryPara */
p.lxP {
  text-align: left;
  margin: 20px 0 0 6%;
  text-indent: -5%;
}

p.lxPva {
  text-align: left;
  margin: 20px 0 0 6%;
  text-indent: -5%;
  font-size: 70%;
}

/* lpLexEntryPara_KeepWithNext */

/* lpLexEntryPara2 */
p.lxP2 {
  text-align: left;
  margin: 0 0 0 5%;
  text-indent: 0;
}

p.lxP2va {
  text-align: left;
  margin: 0 0 0 5%;
  text-indent: 0;
  font-size: 70%;
}

/* lpLexEntryPara2_KeepWithNext */

/* lpLexSubEntryPara */

/* lpLexSubEntryPara2 */

/* lpTitlePara */
p.TtlP {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 1.5em 0;
  text-indent: 0;
  page-break-after: avoid;
}

/* lpTitle2Para */

/* lpPicturePara */

/* ---------- SPANS NEW ----------- */
/* lpTitle */

/* lpTitle2 */

/* lpLexEntryName */
span.Lxeva {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

/* lpHeaderEntry */

/* lpMiniHeading  - changed from block to inline 10/12/2020 */
span.Mnh {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

/* 10/12/2020 : replace html text by css fixed content */
span.Mnhrv {
  border-bottom: 1px solid var(--red-800);
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.83em;
  font-style: italic;
  color: black;
}

span.Mnhrv::before {
  content: 'Voir entrée principale : ';
}

span.Mnhva {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhva::before {
  content: 'Variante : ';
}

span.Mnhvam {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhvam::before {
  content: 'Variantes : ';
}

span.Mnhsynm {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhsynm::before {
  content: 'Synonymes : ';
}

span.Mnhlitt {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhlitt::before {
  content: 'Litt : ';
}

span.Mnhbw {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhbw::before {
  content: 'Source : ';
}

span.Mnhant {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: black;
}

span.Mnhant::before {
  content: 'Antonyme(s) : ';
}

span.Mnhcat {
  display: inline;
  margin: 10px 0 0 5%;
  font-size: 0.75em;
  font-style: italic;
  color: #2f4f4f;
}

span.Mnhcat::before {
  content: 'Catégorie : ';
}

/* lpLanguageLabel */

/* lpPartOfSpeech */
span.PS {
  font-size: 0.92em;
  font-weight: bold;
  color: #191970;
}

/* lpExampleRef */

/* lpPhonetic */

/* lpScientific */

/* lpBorrowedWord */
span.Bor {
  font-size: 0.83em;
  color: navy;
}

/* lpEtymology */
span.Ety {
  font-size: 0.83em;
  color: navy;
}

/* lpCategory */

/* lpExample */
span.Exe {
  display: block;
  width: 80%;
  margin-left: 20px;
  font-size: 0.92em;
  font-weight: bold;
  color: var(--green-600);
}

/* lpEncycInfo */

/* lpGloss */
span.Gl {
  font-size: 0.92em;
  color: black;
}

/* lpMainCrossRefSub */

/* lpCrossRef */
span.XRef {
  font-size: 0.75em;
  font-weight: bold;
  color: teal;
}

/* lpCrossRefSub */

/* lpSpAfterEntryName */

/* lpTitleLetter */

/* lpTitleMenuItem */

/* lpSenseNumber */
span.SnsN {
  font-size: 0.92em;
  font-weight: bold;
  color: black;
}

/* lpPunctuation */

/* lpHomonymIndex */

/* lpLexicalFunction */
span.LexF {
  font-size: 0.95em;
  font-weight: bold;
  color: var(--red-600);
}

a.LexF {
  font-size: 0.95em;
  font-weight: bold;
  color: var(--red-600);
}

/* lpLexicalFunctionSub */

/* lpParadigm */

/* lpNotes_anthropology */

/* lpNotes_discourse */

/* lpNotes_grammar */
span.Not_g {
  display: block;
  width: 80%;
  font-size: 0.75em;
  color: black;
}

/* lpNotes_phonology */

/* lpNotes_questions */

/* lpNotes_sociolinguistics */

/* lpNotes_general */
span.Not_gen {
  font-size: 0.75em;
  color: black;
}

/* lpGlossBambara */

/* lpEncycInfoBambara */

/* lpGlossFrench */
span.GlFr {
  margin-left: 30px;
  font-size: 0.92em;
  color: var(--warm-gray-600);
}

span.GlFr1 {
  font-size: 1em;
  color: #000;
}

/* lpEncycInfoFrench */
/* span.EncFr {display:inline;margin: 10px 0 0 5%;font-size:0.83em;font-style:italic;font-weight:normal;font-family:"Noto Serif",Serif; color:#2F4F4F;} */
span.EncFr {
  display: inline;
  font-size: 0.83em;
  font-style: italic;
  color: var(--teal-900);
}

/* abandonné, cf message VV : span.EncFr::before {content:"Sémantisme : ";} */
/* lpLiteralMeaningFrench */

/* lpUserStylefv */

/* lpUserStylefe */

/* lpUserStylefn */

/* lpUserStylefr */

/* lpHighlight */

/* ---------- HIGHLIGHTING ----------- */

/* anchors converted to button */

/* none of these links work */

.bx--header__menu-toggle {
  display: flex;
}
