<style lang="postcss">
  @import '/src/assets/css/lexique.css';
  @import '/src/assets/css/lexicon.css';
</style>

<script>
  import { SideNav, SideNavItems, SideNavLink, SideNavDivider } from 'carbon-components-svelte';
  import LexBam from '$lib/components/LexBam.svelte';
  import { isSideNavOpen } from '$lib/js/sidenav.store.js';
  //  import { persistentHamburgerMenu } from '$lib/js/hamburger.store.js';
  import { onMount } from 'svelte';
  import lozad from 'lozad';
  import { page } from '$app/stores';
  import { isDisamb } from '$lib/js/isdisamb.store.js';
  export let data;

  // $persistentHamburgerMenu = true;

  function SideNavLinkClick() {
    $isSideNavOpen = false;
  }

  $: if (typeof document !== 'undefined') {
    console.log('isDisamb: ', $isDisamb);
    const visibility = $isDisamb ? 'visible' : 'hidden';
    const elements = document.querySelectorAll('.Gl, .clnk, .clnknt');
    elements.forEach((element) => {
      element.style.visibility = visibility;
    });
  }

  onMount(() => {
    console.log('onmount running');
    let schema = {};
    let words = [];
    console.log('page_url: ', $page.url);
    if ($page.url) {
      const pathname = $page.url.pathname;
      const segments = pathname.split('/').filter(Boolean); // Split path and filter out empty segments
      const isSubpage = segments.length > 1; // Check if this is a subpage
      const baseURL = $page.url.origin;

      if (isSubpage) {
        const letter = segments.pop().toUpperCase(); // Get the last segment and capitalize it
        console.log('Subpage for letter:', letter);
        console.log('data: ', data);
        if ($page.data.words) {
          words = $page.data.words;
        }
        console.log('Words:', words);
        // Breadcrumb schema
        const breadcrumbs = {
          '@context': 'https://schema.org',
          '@type': 'BreadcrumbList',
          itemListElement: [
            {
              '@type': 'ListItem',
              position: 1,
              name: "Dictionnaire Bambara page d'accueil",
              item: `${baseURL}/`
            },
            {
              '@type': 'ListItem',
              position: 2,
              name: 'Dictionnaire Bambara Français',
              item: `${baseURL}/lexicon`
            },
            {
              '@type': 'ListItem',
              position: 3,
              name: `Termes en bambara qui commencent par la lettre ${letter} et la traduction française`,
              item: `${baseURL}${pathname}`
            }
          ]
        };

        // DefinedTermSet schema
        // Generate structured data for these random words
        const definedTermSet = {
          '@context': 'https://schema.org',
          '@type': 'DefinedTermSet',
          name: `Dictionnaire bambara - français - Termes qui commencent par la lettre ${letter}`,
          description: `La traduction française d'une liste de termes bambara qui commence avec la lettre ${letter}`,
          url: $page.url.href,
          mainEntityOfPage: $page.url.href,
          hasDefinedTerm: words.map(({ word, description }) => ({
            '@type': 'DefinedTerm',
            name: word,
            description: description || '', // Ensure description is empty if not available
            url: `${$page.url.href}#${encodeURIComponent(word)}`
          }))
        };

        console.log('Structured Data for Random Words:', JSON.stringify(definedTermSet, null, 2));

        schema = {
          '@context': 'https://schema.org',
          '@graph': [breadcrumbs, definedTermSet]
        };

        // Inject schema into <head>
        const jsonLdScript = document.createElement('script');
        jsonLdScript.type = 'application/ld+json';
        jsonLdScript.textContent = JSON.stringify(schema);
        document.head.appendChild(jsonLdScript);
        console.log('Schema successfully injected:', schema);
      } else {
        console.log('Not a subpage; no schema created.');
      }
    }
    const observer = lozad(); // lazy loads elements with default selector as ".lozad"
    observer.observe();
  });
</script>

<SideNav bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavLink text="Navigation alphabétique" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/a" text="a" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/b" text="b" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/c" text="c" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/d" text="d" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/e" text="e" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/ɛ" text="ɛ" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/f" text="f" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/g" text="g" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/h" text="h" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/i" text="i" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/j" text="j" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/k" text="k" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/l" text="l" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/m" text="m" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/n" text="n" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/ɲ" text="ɲ" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/ŋ" text="ŋ" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/o" text="o" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/ɔ" text="ɔ" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/p" text="p" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/r" text="r" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/s" text="s" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/t" text="t" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/u" text="u" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/v" text="v" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/w" text="w" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/x" text="x" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/y" text="y" />
    <SideNavLink on:click={SideNavLinkClick} href="/lexicon/z" text="z" />
    <SideNavLink text=" " />
    <SideNavDivider />
    <SideNavDivider />
  </SideNavItems>
</SideNav>

<LexBam />
<slot />
