<script>
  import Home from './Lexicon.svelte';
</script>

<svelte:head>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
        {
          "@type": "WebSite",
          "@id": "https://bamadaba.coastsystems.net/",
          "name": "Dictionnaire Bambara-Français et Français-Bambara",
          "url": "https://bamadaba.coastsystems.net/",
          "description": "Un dictionnaire complet traduisant des mots et des expressions bambara en français et vice versa."
        },
        {
          "@type": "WebPage",
          "@id": "https://bamadaba.coastsystems.net/lexicon",
          "name": "Dictionnaire Bambara-Français",
          "description": "Recherchez des mots et expressions bambara en français.",
          "breadcrumb": {
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "https://bamadaba.coastsystems.net/",
                  "name": "Accueil"
                }
              },
              {
                "@type": "ListItem",
                "position": 2,
                "item": {
                  "@id": "https://bamadaba.coastsystems.net/lexicon",
                  "name": "Dictionnaire Bambara-Français"
                }
              }
            ]
          },
          "potentialAction": [
            {
              "@type": "SearchAction",
              "target": "https://bamadaba.coastsystems.net/lexicon?q={search_term_string}",
              "query-input": "required name=search_term_string"
            }
          ]
        },
        {
          "@type": "WebPage",
          "@id": "https://bamadaba.coastsystems.net/index-french",
          "name": "Dictionnaire Français-Bambara",
          "description": "Recherchez des mots et expressions français en bambara.",
          "breadcrumb": {
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "https://bamadaba.coastsystems.net/",
                  "name": "Accueil"
                }
              },
              {
                "@type": "ListItem",
                "position": 2,
                "item": {
                  "@id": "https://bamadaba.coastsystems.net/index-french",
                  "name": "Dictionnaire Français-Bambara"
                }
              }
            ]
          },
          "potentialAction": [
            {
              "@type": "SearchAction",
              "target": "https://bamadaba.coastsystems.net/index-french?q={search_term_string}",
              "query-input": "required name=search_term_string"
            }
          ]
        },
        {
          "@type": "DefinedTermSet",
          "@id": "https://bamadaba.coastsystems.net/",
          "name": "Dictionnaire Bambara-Français et Français-Bambara",
          "description": "Un dictionnaire complet traduisant des mots et des expressions bambara en français et vice versa.",
          "url": "https://bamadaba.coastsystems.net/"
        }
      ]
    }
  </script>
</svelte:head>

<Home />
