<!-- LexBam.svelte -->
<script>
  import {
    Search,
    Tag,
    Tile,
    Row,
    Column,
    StructuredList,
    StructuredListRow,
    StructuredListCell,
    StructuredListBody,
    Toggle
  } from 'carbon-components-svelte';
  import { goto } from '$app/navigation';
  import Fuse from 'fuse.js';
  import index from '$lib/index-lex.json';
  import data from '$lib/data-lex.json';
  import { isDisamb } from '$lib/js/isdisamb.store.js';

  // import { PUBLIC_BASE_URL } from '$env/static/public';
  let results = [];
  let ref = null;
  let active = false;
  let value = '';
  const idx = Fuse.parseIndex(index);
  const options = {
    // shouldSort: true,
    // includeMatches: true,
    // findAllMatches: true,
    // minMatchCharLength: 1,
    // location: 1,
    // threshold: 0.3,
    // distance: 3,
    // useExtendedSearch: true,
    // ignoreLocation: false,
    // ignoreFieldNorm: false,
    // fieldNormWeight: 1,
    // getFn: (obj, path) => {
    //   var value1 = Fuse.config.getFn(obj, path);
    //   if (Array.isArray(value1)) {
    //     return value1.map(el => removeAccents(el));
    //   }
    //   return removeAccents(value1);
    // },
    keys: ['lxeNoDiacritics']
  };

  const fuse = new Fuse(data, options, idx);

  function transformQuery(query) {
    // Define your replacement rules in a concise format
    const replacementRules = [
      [/^ny/g, 'ɲ'],
      [/^ny/g, 'ɲ'],
      [/'ò'/g, 'ɔ'],
      [/'è'/g, 'ɛ']
    ];

    // Apply each replacement rule to the search term
    replacementRules.forEach((rule) => {
      query = query.replace(rule[0], rule[1]);
    });
    // console.log("query", query);
    return query;
  }

  $: if (value) {
    let valueRef;
    valueRef = value;
    results = fuse.search(transformQuery(valueRef)).map((hit) => {
      console.log('hit.id', hit.item.h4Id);
      console.log('hits', hit);
      ref = hit.item.lxeId;
      return {
        ref: hit.item.lxeId,
        lxeText: hit.item.lxeText
        // examples: hits.item.examples,
      };
    });
  } else {
    results = []; // Clear results when value is empty
  }

  function cleanup() {
    results = [];
    value = '';
    // console.log('clear')
  }

  function navigateToId(id) {
    // console.log('ref', ref)
    cleanup();
    const dest = '/lexicon/' + `${id}`;
    goto(dest);
    // console.log('dest', dest)
    // goto(ref);
  }

  function vinput(glyph) {
    value = value + glyph;
    console.log('value', value);
    active = true;
    document.getElementById('search-input-bm').focus();
  }

  function handleToggle() {
    isDisamb.update((value) => !value);
  }

  //let toggled = $isDisamb;

  // $: isDisamb.update((toggled) => toggled);
</script>

<Tile>
  <Row>
    <Column>
      <Tag size="sm" interactive="true" type="cool-gray" on:click={() => vinput('ɛ')}>ɛ</Tag>
      <Tag size="sm" interactive="true" type="cool-gray" on:click={() => vinput('ɔ')}>ɔ</Tag>
      <Tag size="sm" interactive="true" type="cool-gray" on:click={() => vinput('ɲ')}>ɲ</Tag>
      <Tag size="sm" interactive="true" type="cool-gray" on:click={() => vinput('ŋ')}>ŋ</Tag>
      <Search
        id="search-input-bm"
        autofocus="true"
        placeholder="Ɲini..."
        bind:ref={ref}
        bind:active={active}
        bind:value={value}
        on:clear={cleanup}
      />
    </Column>
  </Row>
  <Row>
    <Column>
      <Toggle size="sm" labelText="Désambiguateur" bind:toggled={$isDisamb}>
        <span slot="labelA" style="color: gray">Public</span>
        <span slot="labelB" style="color: green">Désambiguïsé</span>
      </Toggle>
    </Column>
  </Row>
  <Row>
    <StructuredList selection>
      <StructuredListBody>
        {#each results as result}
          <StructuredListRow on:click={() => navigateToId(result.ref)}>
            <StructuredListCell noWrap>
              {result.lxeText}
            </StructuredListCell>
            <!-- <StructuredListCell> -->
            <!--   {#each result.examples as example (example)} -->
            <!--     <p>{example}</p> -->
            <!--   {/each} -->
            <!-- </StructuredListCell> -->
          </StructuredListRow>
        {/each}
      </StructuredListBody>
    </StructuredList>
  </Row>
</Tile>
