<!-- Lexfr.svelte -->
<script>
  import { Search, Tile } from 'carbon-components-svelte';
  import {
    StructuredList,
    StructuredListRow,
    StructuredListCell,
    StructuredListBody
  } from 'carbon-components-svelte';
  import { goto } from '$app/navigation';
  import Fuse from 'fuse.js';
  import index from '$lib/index-french.json';
  import data from '$lib/data-french.json';
  let results = [];
  let ref = null;
  let active = false;
  let value = '';
  const idx = Fuse.parseIndex(index);
  const options = {
    keys: ['IxFrText']
  };

  const fuse = new Fuse(data, options, idx);
  // console.log('fuse: ', fuse);
  // console.log('data: ', data);

  // $: console.log('value (reactive): ', value);

  $: if (value) {
    // console.log('Running search with value:', value);
    const searchResults = fuse.search(value);
    // console.log('searchResults:', searchResults);

    results = searchResults.map((hit) => {
      console.log('hit', hit);
      return {
        ref: hit.item.IxFrId,
        text: hit.item.IxFrText
      };
    });
    // console.log('updated results', results);
  } else {
    // console.log('Clearing results because value is empty');
    results = []; // Clear results when value is empty
  }

  function cleanup() {
    results = [];
    value = '';
    // console.log('clear');
  }

  function navigateToId(id) {
    cleanup();
    const dest = '/index-french/' + `${id}`;
    goto(dest);
    // console.log('navigate to', dest);
  }
</script>

<Tile>
  <Search
    id="search-input-fr"
    autofocus="true"
    placeholder="Recherchez..."
    bind:ref={ref}
    bind:active={active}
    bind:value={value}
    on:clear={cleanup}
  />
  <StructuredList selection>
    <StructuredListBody>
      {#each results as result (result.ref)}
        <StructuredListRow on:click={() => navigateToId(result.ref)}>
          <StructuredListCell noWrap>
            {result.text}
          </StructuredListCell>
        </StructuredListRow>
      {/each}
    </StructuredListBody>
  </StructuredList>
</Tile>
