<!-- Ui.svelte -->
<script>
  import {
    Header,
    HeaderNav,
    HeaderNavItem,
    SkipToContent,
    HeaderUtilities,
    HeaderGlobalAction
  } from 'carbon-components-svelte';
  import Information from 'carbon-icons-svelte/lib/Information.svelte';
  import UpToTop from 'carbon-icons-svelte/lib/UpToTop.svelte';
  import CharacterPatterns from 'carbon-icons-svelte/lib/CharacterPatterns.svelte';
  import { goto } from '$app/navigation';
  import { isSideNavOpen } from '$lib/js/sidenav.store.js';
  import { page } from '$app/stores'; // Import the page store
</script>

<Header
  company="Bamadaba"
  platformName="bamanankan daɲɛgafe / dictionnaire du"
  href="/lexicon/"
  bind:isSideNavOpen={$isSideNavOpen}
  iconMenu={CharacterPatterns}
  persistentHamburgerMenu={true}
>
  <HeaderNav>
    <HeaderNavItem
      id="left"
      href="http://cormand.huma-num.fr/"
      text="Corpus bambara de référence"
    />
  </HeaderNav>
  <svelte:fragment slot="skip-to-content">
    <SkipToContent />
  </svelte:fragment>

  <HeaderUtilities>
    <HeaderNav>
      {#if $page.url.pathname.startsWith('/lexicon')}
        <HeaderNavItem href="/index-french/a" text="fr" />
      {:else if $page.url.pathname.startsWith('/index-french')}
        <HeaderNavItem href="/lexicon/" text="bm" />
      {/if}
    </HeaderNav>
    <HeaderGlobalAction
      iconDescription="Retour en haut"
      kind="primary"
      icon={UpToTop}
      on:click={() => goto('#top')}
    />
    <HeaderGlobalAction
      iconDescription="plus d'informations sur le dictionnaire Bambdaba"
      kind="primary"
      icon={Information}
      on:click={() => (window.location = 'https://www.mali-pense.net/bm/lexicon/index.htm')}
    />
  </HeaderUtilities>
</Header>
